In [4]:
 #SQLite - structural querry python
    #database connectivity and operation using python,
    #for , example , the follwing is the example of connectivity with my SQL Database
    #"my_database" and creating a table grades1 and inserting the value inside
    
    #its meaning of whole paragraph is ,we have to create a table but we have to leanrn how to create a table.
    #Lets see..    
    #like numpy and pandas SQL is also imported by python

In [5]:
import sqlite3

In [14]:
db=sqlite3.connect("my_database1.db")
db.execute("drop table if exists table1")
db.execute("create table table1(id int,name text,score int)")
db.execute("insert into table1(id,name,score)values(101,'saurav',98)")
db.execute("insert into table1(id,name,score)values(102,'rohit',92)")
db.execute("insert into table1(id,name,score)values(103,'gaurav',99)")

In [16]:
db.commit()

In [17]:
#lets check our table with different orders>
#lets know onething- * means-everything
#lets check with example

In [22]:
result=db.execute("select * from table1 order by id")
for row in result:
    print(row)

(101, 'saurav', 98)
(102, 'rohit', 92)
(103, 'gaurav', 99)

In [24]:
result=db.execute("select * from table1 where score<95")
for row in result:
    print(row)

(102, 'rohit', 92)

In [25]:
result=db.execute("select * from table1 where name='saurav'")
for row in result:
    print(row)

(101, 'saurav', 98)

In [31]:
result=db.execute("select * from table1 order by score")
for row in result:
    print(row)

(102, 'rohit', 92)
(101, 'saurav', 98)
(103, 'gaurav', 99)

In [ ]:
#Task
#create a table with below column name- emp_id,salary,gender,age
#emp_id-10001 to 10010
#salary- 20200,30200,45200,90200,70200,15200,45200,34500,874200
#Age- 25,35,20,35,47,50,24,25,52,32,58
#gender- M,F,M,M,F,M,M,F,M,M

In [ ]:
#the basics of sqlite3
#student of datatrained:- Saurav
#Datatrained