In [ ]:
#Jai Hind #Jai Shree Ram== Jai Shree Ram

In [1]:
#Variables and Data Types

In [3]:
#1=Numbers
a=20
print(a,'is a',type(a))

20 is a <class 'int'>

In [5]:
#2-String
a='Saurav From Coal india Limited'
print(a,'is a',type(a))

Saurav From Coal india Limited is a <class 'str'>

In [7]:
#3-List
l1=[12,23,44,69,78]
print(l1,'is a',type(l1))

[12, 23, 44, 69, 78] is a <class 'list'>

In [9]:
#4-Tuple
t1=(14,25,36,47,58,69)
print(t1,'is a',type(t1))

(14, 25, 36, 47, 58, 69) is a <class 'tuple'>

In [10]:
#5-set
s1={14,25,36,47,58,69}
print(s1,'is a',type(s1))

{36, 69, 25, 58, 14, 47} is a <class 'set'>

In [13]:
#6-Dictionary
d1={'saurav':'always single','rohit':'Pragya','Yashu':'Garima'}
print(d1,'is a',type(d1))

{'saurav': 'always single', 'rohit': 'Pragya', 'Yashu': 'Garima'} is a <class 'dict'>

In [ ]:
#Python by Shankar sir
#Student of Datatrained